<div>
  <h1>Listado de productos renderizado con Handlebars</h1>
  {{#each products}}
  <div>
    <h2>Title: {{this.title}}</h2>
    <p>Code: {{this.code}}</p>
    <p>Description: {{this.description}}</p>
    <p>Price: {{this.price}}</p>
    <p>Stock: {{this.stock}}</p>
  </div>
  {{/each}}
</div>